
.w1520{
    width: 1520px;
    margin: auto;
}

#sec1{
    position: relative;
    padding: 125px 50px;
    box-sizing: border-box;
}

.svg_wrap{
    position: absolute;
    left: -5px;
    width: 100%;
    height: 100%;
}

svg{
    width: 100%;
    height: 100%;
    
}

svg>text{
    /* font-size: 180px;
    font-weight: bold;
    fill:#fff;
    stroke:green; */
    fill: none;
    stroke: rgb(57, 185, 25);
    stroke-width: 2px;
    font-size: 180px;
    font-family: Poppins-Bold, Poppins;
    font-weight: 700;
    opacity: 0.4;
    stroke-dasharray: 800;
    animation: svgtxt 3s;
    
}

@keyframes svgtxt {
    from{
        stroke-dashoffset: 800;
    }

    to{
        stroke-dashoffset: 0;
    }
}

.pollexzone_txt>p{
    overflow: hidden;
}

.pollexzone_txt>p>span{
    display: block;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

.gogo{
    transform: translateY(0) !important;
}

#sec1>article{
    position: relative;
    z-index: 999;
    top: 100px;
    justify-content: center;
    align-items: flex-end;
}

#sec1>article>p{
    font-size: 44px;
    line-height: 64px;
    color: #000;
    font-weight: bold;
    padding-right: 210px;
}

.btn_more{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 180px;
    height: 60px;
    line-height: 56px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transform: translateY(100%);

    -webkit-transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
}

.btn_more:hover{
    background-color: rgba(0,0,0,.1);
}

.showshow{
    opacity: 1;
    transform: translateY(0) !important;
}


#sec1-2{
    padding-top: 100px;
}

.mc1_img_wrap{
    width: 100%;
    padding-top: 34.47916%;
    background-image: url(../img/mc1_img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.mc1_brn{
    width: 100%;
    height: 300px;
    background-image: url(../img/mc1_banner.jpg);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-weight: bold;
}

.mc1_brn>h3{
    width: 100%;
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 4.94px;
}

.mc1_brn>p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.4;
    margin-top: 22px;
}

#sec2{
    padding: 185px 50px;
    box-sizing: border-box;
}

#sec2>article{
    display: flex;
}

#sec2>article>div{
    position: relative;
    width: 50%;
}

#sec2>article>ul{
    width: 49%;
}

.show{
    display: flex !important;
    justify-content: space-between;
}

.first_img_div>a{
    display: block;
    position: relative;
    background-image: url(../img/mc2_img1.jpg);
    width: 100%;
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 2s ease-in-out;
}

.first_img_div>a::after{
    position: absolute;
    right: 0;
    display: block;
    height: 620px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    background-color: #fff;
    animation: leftimg 2s;
}

@keyframes leftimg{
    from{width:100%}
    to{width: 0;}
}

.txt_box{
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 30px;
    color: #fff;
}


#sec2 .second_img_div{
    display: flex;
    flex-wrap: wrap;
}

#sec2 .second_img_div>li{
    width: 50%;
    position: relative;
}

#sec2 .second_img_div>li:nth-child(1){
    position: relative;

}

#sec2 .second_img_div>li:nth-child(2){
    position: relative;

}

#sec2 .second_img_div>li:nth-child(3){
    position: relative;

}

#sec2 .second_img_div>li:nth-child(4){
    position: relative;
}


#sec2 .second_img_div>li:nth-child(1)>a{
    position: absolute;
    left: -5px;
    display: block;
    background-image: url(../img/mc2_img2.jpg);
    width: 100%;
    height: 305px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 .second_img_div>li:nth-child(1)>a::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: #fff;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: firstimg 2s;
}


@keyframes firstimg{
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

#sec2 .second_img_div>li:nth-child(2)>a{
    position: absolute;
    display: block;
    background-image: url(../img/mc2_img3.jpg);
    width: 100%;
    height: 305px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 .second_img_div>li:nth-child(2)>a::after{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    background-color: #fff;
    animation: secondimg 2s;
}

@keyframes secondimg{
    from{height:100%;}
    to{height: 0;}
}


#sec2 .second_img_div>li:nth-child(3)>a{
    position: absolute;
    left: -5px;
    bottom: 0;
    display: block;
    background-image: url(../img/mc2_img4.jpg);
    width: 100%;
    height: 305px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 .second_img_div>li:nth-child(3)>a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background-color: #fff;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: thirdimg 2s;
}

@keyframes thirdimg{
    from{height:100%;}
    to{height: 0;}
}


#sec2 .second_img_div>li:nth-child(4)>a{
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    background-image: url(../img/mc2_img5.jpg);
    width: 100%;
    height: 305px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec2 .second_img_div>li:nth-child(4)>a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #fff;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fifthimg 2s;
}

@keyframes fifthimg{
    from {width: 100%;}
    to {width: 0%;}
}





#sec2 strong{
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    font-weight: bold;
}

#sec2 p{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    color: #fff;
}

.sec3{
    padding: 135px 50px;
    background-color: black;
}

.sec3>article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
}

.sec3 h2{
    width: 100%;
    display: block;
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 600;
}

.list{
    width: 100%;
    display: flex;
}

.list>li{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right:57px;
}

.list>li:last-child{
    margin-right: 0;
}

.list_img{
    display: inline-block;
    outline: none;
} 

.list_img>img{
    width: 100%;
}

.list_txt{
    margin-top: 40px;
    color: #fff;
}

.list_txt>strong{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.list_txt>p{
    font-size: 15px;
    line-height: 22px;
    opacity: 0.6;
    margin-top: 14px;
    font-weight: 600;
}

.list>li>a{
    display: inline-block;
    margin-top: 50px;
    width: 120px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
}

.sec4{
    position: relative;
    display: flex;
}

.sec4_img_wrap{
    padding-top: 55.8333%;
    background-image: url(../img/mc4_loc2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.sec4_img_wrap2{
    padding-top: 55.8333%;
    background-image: url(../img/mc4_loc3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.sec4_img_wrap3{
    padding-top: 55.8333%;
    background-image: url(../img/mc4_loc1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.sec4>article{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translate(-50%, 0);
    padding: 0 20px 80px;
    box-sizing: border-box;
}

.sec4>article>ul{
    display: flex;
    flex-direction: column;
}


.sec4>article>ul>li>a{
    display: block;
}


.sec4>article>ul>li>a:hover .sec4_inner2{
    display: block;
}

.sec4>article>ul>li>a:hover .sec4_inner{
    display: none;
}

.sec4>article>ul>li>a:hover .sec4_inner3{
    display: none;
}

.sec4_inner>h2{
    transition: all 0.3s ease-in-out;
    animation : h2_delay;
}

@keyframes h2_delay{
    from {opacity: 0;}
    to {opacity: 1;}

}

.sec4_inner>p{
    transition: all 0.3s ease-in-out;
    animation: p_delay;
}


@keyframes p_delay{
    from {opacity: 0;}
    to {opacity: 1;}

}



.sec4>article>ul>li>a>p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    color: #fff;
}

.sec4_li1{
    cursor: pointer;
}

.sec4_li2{
    cursor: pointer;
}

.sec4_li3{
    cursor: pointer;
}


.sec4 .sec4_li1>a>span{
    background-image: url(../img/mc4_icon2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: inline-block;
    border: 3px solid #39b919;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
}

.sec4 .sec4_li2>a>span{
    background-image: url(../img/mc4_icon3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: inline-block;
    border: 3px solid #39b919;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
}

.sec4 .sec4_li3>a>span{
    background-image: url(../img/mc4_icon1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 132px;
    height: 132px;
    display: inline-block;
    border: 3px solid #39b919;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 100%;
    margin-bottom: 10px;
}

.sec4_li2{
    margin-top: 30px;
}


.sec4_li3{
    margin-top: 30px;
}

.sec4>article>div>span{
    display: block;
    font-size: 20px;
    line-height: 29px;
    color: #39b919;
}

.sec4>article>div>h2{
    font-size: 100px;
    line-height: 148px;
    font-weight: 300;
}

.sec4>article>div a{
    display: inline-block;
    color: #fff;
    text-align: center;
}

.sec4>article>div>p{
    font-size: 24px;
    line-height: 40px;
    margin-top: 28px;
    color: #fff;
}

#sec4_img1 p{
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
}

#sec4_img2 p{
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
}

#sec4_img3 p{
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
}



.dis_none{
    display: none;
}

.sec5{
    padding: 150px 0;
    border-top: 6px solid #39b919;
}

.sec5>article{
    display: flex;
    padding: 0 50px;
    box-sizing: border-box;
    align-items: flex-start;
}

.notice_left{
    padding-right: 40px;
    width: 50%;
    box-sizing: border-box;
}

.notice_left>h2{
    position: relative;
    font-size: 20px;
    line-height: 29px;
    color: #00305b;
    margin-bottom: 20px;
    font-weight: 700;
}

.notice_left>h2>a{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #999;
}

.notice_left ul{
    border-top: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.notice_left li{
    width: 100%;
    border-bottom: 1px solid #000;
}

.notice_left>ul>li>a{
    display: block;
    position: relative;
    padding-right: 84px;
    padding-left: 9px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.notice_left>ul>li>a>strong{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 58px;
    font-weight: 600;
}

.notice_left>ul>li>a>span{
    font-size: 13px;
    line-height: 58px;
    color: #999;
    position: absolute;
    right: 9px;
    top: 0;
}

.notice_right{
    width: 50%;
    box-sizing: border-box;
    margin-left: 40px;
}

.notice_right>h2{
    position: relative;
    font-size: 20px;
    line-height: 29px;
    color: #00305b;
    margin-bottom: 20px;
    font-weight: 700;
}

.notice_right>h2>a{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #999;
}

.notice_right ul{
    border-top: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.notice_right li{
    width: 100%;
    border-bottom: 1px solid #000;
}

.notice_right>ul>li>a{
    display: block;
    position: relative;
    padding-right: 84px;
    padding-left: 9px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.notice_right>ul>li>a>strong{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    line-height: 58px;
    font-weight: 600;
}

.notice_right>ul>li>a>span{
    font-size: 13px;
    line-height: 58px;
    color: #999;
    position: absolute;
    right: 9px;
    top: 0;
}

.txt_on{
    opacity: 1 !important;
}
/***************************************************************/
@media only screen and (max-width: 1640px){
    #sec1>article{
        box-sizing: border-box;
    }
}





/***********************responsive********************/


@media only screen and (max-width: 1024px){

    .w1520{
        width: 100%;
        box-sizing: border-box;
    }
    
    #sec1{
        padding: 125px 20px;
        box-sizing: border-box;
    }

    #sec1>article>p {
        font-size: 28px;
    }


    #sec2>article{
        flex-wrap: wrap;
    }

    #sec2>article>div{
        width: 100%;
    }

    #sec2>article>ul{
        width: 100%;
    }

    .list>li{
        padding: 0 20px;
    }

    .list_img{
        width: 100%;
    }

    .sec3 h2{
        padding-left: 20px;
    }

    .sec4>article{
        padding: 0 20px;
    }

    .sec4_img_wrap{
        padding-top: 116%;
    }

    .sec4_img_wrap2{
        padding-top: 116%;
    }

    .sec4_img_wrap3{
        padding-top: 116%;
    }
    
    .sec5{
        padding: 150px 20px;
        box-sizing: border-box;
    }

    .sec5>article{
        padding: 0;
        box-sizing: border-box;
    }

    
    svg>text{
        font-size: 160px;
    }

}
/****************************************************************/

@media only screen and (max-width: 768px){

    main{
        padding-top: 50px;
    }

    #sec1{
        padding: 0 15px;
        box-sizing: border-box;
    }

    #sec1>article{
        flex-wrap: wrap;
    }

    #sec1>article>p{
        display: block;
        font-size: 18px;
        line-height: 28px;
    }

    svg>text{
        font-size: 100px;
    }

    .btn_more{
        width: 130px;
        height: 40px;
        display: block;
        position: static;
        margin-top: 30px;
        font-size: 11px;
        line-height: 36px;
    }

    #sec1-2{
        margin-top: 80px;
    }

    #sec1-2>.mc1_img_wrap{
        padding-top: 100%;
    }

    .mc1_brn>h3{
        font-size: 20px;
        line-height: 29px;
    }

    .mc1_brn>p{
        font-size: 12px;
        line-height: 20px;
        margin-top: 15px;
    }

    #sec2{
        padding: 80px 0;
    }

    #sec2>article{
        padding: 0 15px;
    }
/* 
    #sec2 .first_img_div>a{
        height: auto;
        padding-top: 99%;
    } */

    #sec2 .second_img_div>li:nth-child(1){
        padding: 5px 0 0 5px;
        box-sizing: border-box;
    }

    #sec2 .second_img_div>li:nth-child(1)>a{
        position: relative;
        height: auto;
        padding-top: 100%;
    }

    #sec2 .second_img_div>li:nth-child(2){
        padding: 5px 0 5px 5px;
        box-sizing: border-box;
    }

    #sec2 .second_img_div>li:nth-child(2)>a{
        position: relative;
        height: auto;
        padding-top: 100%;
    }

    #sec2 .second_img_div>li:nth-child(3){
        padding: 5px 0 0 5px;
        box-sizing: border-box;
    }

    #sec2 .second_img_div>li:nth-child(3)>a{
        position: relative;
        height: auto;
        padding-top: 100%;
        bottom: -5px;
    }
    
    #sec2 .second_img_div>li:nth-child(4){
        padding: 5px 0 5px 5px;
        box-sizing: border-box;
    }

    #sec2 .second_img_div>li:nth-child(4)>a{
        position: relative;
        height: auto;
        padding-top: 100%;
    }

    #sec2 strong{
        font-size: 12px;
        line-height: 20px;
    }
    
    #sec2 p{
        display: none;
    }

    .sec3{
        padding: 80px 0;
    }

    .sec3 h2{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .sec4>article>div>span{
        font-size: 12px;
        line-height: 20px;
    }

    .sec4>article>div>h2{
        font-size: 50px;
        line-height: 70px;
        margin-top: 30px;
    }

    .sec4>article>div>p{
        font-size: 13px;
        line-height: 21px;
        margin-top: 20px;
    }

    .sec4>ul{
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: -0;
    }

    .sec4 .sec4_li1>a>span{
        width: 90px;
        height: 90px;;
    }

    .sec4 .sec4_li2>a>span{
        width: 90px;
        height: 90px;;
    }

    .sec4 .sec4_li3>a>span{
        width: 90px;
        height: 90px;;
    }

    .list>li{
        width: 500px !important;
        padding: 0;
        margin: 0 20px;
    }

    .list_txt>strong{
        font-size: 20px;
        line-height: 29px;
    }

    .list_txt>p{
        font-size: 12px;
        line-height: 20px;
        margin-top: 0px;
    }
    
    .sec5>article{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 15px;
    }

    .notice_left{
        width: 100%;
        padding-right:0;
    }

    .notice_right{
        width: 100%;
        margin-top: 60px;
        margin-left: 0;
    }

    

    .sec4>article{
        flex-direction: column;
        justify-content: unset !important;
        align-items: unset !important;
        align-content: space-between;
    }

    .sec4_ul{
        width: 100%;
        position: absolute;
        bottom: 10%;
    }

    .sec4_ul>ul{
        display: flex;
        justify-content: space-around;
    }

    .sec4_li1{
        margin-top: 30px;
    }

    .sec4_inner{
        position: absolute;
        top: 10%;
    }
}

/**********************************************/

@media only screen and (max-width: 425px){

    #sec1>article{
        padding: 40px 5px;
    }

    .sec3{
        overflow: hidden;
    }

    .sec3>article{
        padding: 0;
    }

    .sec3>article>ul>li{
        width: 425px;
        overflow: visible;
    }

    .sec3>article>.list{
        width: auto;
    }

    .sec4>article{
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        bottom: 0;
        align-content: space-between;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    .sec4_ul{
        display: flex;
        justify-content:space-between
    }

    .sec4 ul{
        width: 100%;
        display: flex;
        align-items:flex-start;
        justify-content: space-around;
        transform: translate(-15%);
    }

    .sec4_li2{
        margin-top: 0;
        margin-left: 20px;
    }

    .sec4_li3{
        margin-top: 0;
        margin-left: 20px;
    }

    svg>text{
        font-size: 65px;
    }
    
}